<?xml version="1.0" encoding="UTF-8"?>
<!--<configuration status="warn"-->
<!--xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
<!--xsi:noNamespaceSchemaLocation="http://www.padual.com/java/logback.xsd"-->
<!--debug="false" scan="true" scanPeriod="30 second">-->

<!--<property name="PROJECT" value="DVMS"/>-->
<!--<property name="ROOT" value="logs/${PROJECT}/"/>-->
<!--<property name="FILESIZE" value="50MB"/>-->
<!--<property name="MAXHISTORY" value="100"/>-->
<!--<timestamp key="DATETIME" datePattern="yyyy-MM-dd HH:mm:ss"/>-->

<!--<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">-->
<!--<encoder charset="utf-8">-->
<!--<Pattern>[%-5level] [%thread] [%date{yyyy-MM-dd HH:mm:ss}] &#45;&#45;%mdc{client} %msg%n</Pattern>-->
<!--</encoder>-->
<!--</appender>-->

<!--<appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--<encoder charset="utf-8">-->
<!--<Pattern>[%-5level] [%thread] [%date{yyyy-MM-dd HH:mm:ss}] &#45;&#45;%mdc{client} %msg%n</Pattern>-->
<!--</encoder>-->
<!--<filter class="ch.qos.logback.classic.filter.LevelFilter">-->
<!--<level>ERROR</level>-->
<!--<onMatch>ACCEPT</onMatch>-->
<!--<onMismatch>DENY</onMismatch>-->
<!--</filter>-->
<!--<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--<fileNamePattern>${ROOT}%d/error.%i.log</fileNamePattern>-->
<!--<maxHistory>${MAXHISTORY}</maxHistory>-->
<!--<timeBasedFileNamingAndTriggeringPolicy-->
<!--class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">-->
<!--<maxFileSize>${FILESIZE}</maxFileSize>-->
<!--</timeBasedFileNamingAndTriggeringPolicy>-->
<!--</rollingPolicy>-->
<!--</appender>-->


<!--<appender name="WARN" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--<encoder charset="utf-8">-->
<!--<Pattern>[%-5level] [%thread] [%date{yyyy-MM-dd HH:mm:ss}] &#45;&#45;%mdc{client} %msg%n</Pattern>-->
<!--</encoder>-->
<!--<filter class="ch.qos.logback.classic.filter.LevelFilter">-->
<!--<level>WARN</level>-->
<!--<onMatch>ACCEPT</onMatch>-->
<!--<onMismatch>DENY</onMismatch>-->
<!--</filter>-->
<!--<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--<fileNamePattern>${ROOT}%d/warn.%i.log</fileNamePattern>-->
<!--<maxHistory>${MAXHISTORY}</maxHistory>-->
<!--<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">-->
<!--<maxFileSize>${FILESIZE}</maxFileSize>-->
<!--</timeBasedFileNamingAndTriggeringPolicy>-->
<!--</rollingPolicy>-->
<!--</appender>-->


<!--<appender name="INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--<encoder charset="utf-8">-->
<!--<Pattern>[%-5level] [%thread] [%date{yyyy-MM-dd HH:mm:ss}] &#45;&#45;%mdc{client} %msg%n</Pattern>-->
<!--</encoder>-->
<!--<filter class="ch.qos.logback.classic.filter.LevelFilter">-->
<!--<level>INFO</level>-->
<!--<onMatch>ACCEPT</onMatch>-->
<!--<onMismatch>DENY</onMismatch>-->
<!--</filter>-->
<!--<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--<fileNamePattern>${ROOT}%d/info.%i.log</fileNamePattern>-->
<!--<maxHistory>${MAXHISTORY}</maxHistory>-->
<!--<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">-->
<!--<maxFileSize>${FILESIZE}</maxFileSize>-->
<!--</timeBasedFileNamingAndTriggeringPolicy>-->
<!--</rollingPolicy>-->
<!--</appender>-->

<!--<appender name="DEBUG" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--<encoder charset="utf-8">-->
<!--<Pattern>[%-5level] [%thread] [%date{yyyy-MM-dd HH:mm:ss}] &#45;&#45;%mdc{client} %msg%n</Pattern>-->
<!--</encoder>-->
<!--<filter class="ch.qos.logback.classic.filter.LevelFilter">-->
<!--<level>DEBUG</level>-->
<!--<onMatch>ACCEPT</onMatch>-->
<!--<onMismatch>DENY</onMismatch>-->
<!--</filter>-->
<!--<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--<fileNamePattern>${ROOT}%d/debug.%i.log</fileNamePattern>-->
<!--<maxHistory>${MAXHISTORY}</maxHistory>-->
<!--<timeBasedFileNamingAndTriggeringPolicy-->
<!--class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">-->
<!--<maxFileSize>${FILESIZE}</maxFileSize>-->
<!--</timeBasedFileNamingAndTriggeringPolicy>-->
<!--</rollingPolicy>-->
<!--</appender>-->

<!--<appender name="TRACE" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--<encoder charset="utf-8">-->
<!--<Pattern>[%-5level] [%thread] [%date{yyyy-MM-dd HH:mm:ss}] &#45;&#45;%mdc{client} %msg%n</Pattern>-->
<!--</encoder>-->
<!--<filter class="ch.qos.logback.classic.filter.LevelFilter">-->
<!--<level>TRACE</level>-->
<!--<onMatch>ACCEPT</onMatch>-->
<!--<onMismatch>DENY</onMismatch>-->
<!--</filter>-->
<!--<rollingPolicy-->
<!--class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--<fileNamePattern>${ROOT}%d/trace.%i.log</fileNamePattern>-->
<!--<maxHistory>${MAXHISTORY}</maxHistory>-->
<!--<timeBasedFileNamingAndTriggeringPolicy-->
<!--class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">-->
<!--<maxFileSize>${FILESIZE}</maxFileSize>-->
<!--</timeBasedFileNamingAndTriggeringPolicy>-->
<!--</rollingPolicy>-->
<!--</appender>-->

<!--&lt;!&ndash; SQL相关日志输出&ndash;&gt;-->
<!--<logger name="org.apache.ibatis" level="INFO" additivity="false"/>-->
<!--<logger name="org.mybatis.spring" level="INFO" additivity="false"/>-->
<!--<logger name="com.github.miemiedev.mybatis.paginator" level="INFO" additivity="false"/>-->

<!--&lt;!&ndash; Logger 根目录 &ndash;&gt;-->
<!--<root level="INFO">-->
<!--<appender-ref ref="STDOUT"/>-->
<!--<appender-ref ref="DEBUG"/>-->
<!--<appender-ref ref="ERROR"/>-->
<!--<appender-ref ref="WARN"/>-->
<!--<appender-ref ref="INFO"/>-->
<!--<appender-ref ref="TRACE"/>-->
<!--</root>-->
<!--</configuration>-->
<!--<?xml version="1.0" encoding="UTF-8"?>-->
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}/}DMS_MESSAGE_SYNC.log}"/>
    <property name="LOG_FILE_MAX_SIZE" value="100MB"/>
    <property name="LOG_FILE_MAX_HISTORY" value="60"/>
    <property name="LOG_FILE_TOTAL_SIZE_CAP" value="20GB"/>


    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <include resource="org/springframework/boot/logging/logback/file-appender.xml"/>
    
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>
